#------------------------------------------------------------------------------
# This is your standard .gitignore
#------------------------------------------------------------------------------

# The following is stuff that we always want to ignore:

*.orig
*.rej
*~
*.o
*.pyc
*.pyo
*.elc
*.class
.gdb_history
.DS_Store
.hg
.svn
.hgsvn
.git
.snprj
.project
.pydevproject
.settings
.classpath
*.class
\#*
.\#*
.unison-backup
.idea
.idea_modules

#------------------------------------------------------------------------------
# Optional, per-repository ignores
#------------------------------------------------------------------------------

.cache
/project/project/
/project/target/
/target/
tako.log
/bin/
